/* Home Section */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Full-screen height */
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    padding: 20px;
  }
  
  .home h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .home p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .home h1 {
      font-size: 2rem;
    }
  
    .home p {
      font-size: 1.2rem;
    }
  }
  